:root{
    --c1-Primary: #30323D;
    --c2-Secondary: #4D5061;
    --c3-Accent1: #BD6B73;
    --c4-Accent2: #A0D2DB;
}

/* CSS General */

nav {

}

header {

}


/* CSS Miku */

#miku-body {
    background-color: var(--c4-Accent2);

}

#miku-main {
    background-color: var(--c1-Primary);
    display: flex;
    flex-wrap: wrap;
}

#miku-general {
    background-color: red;
    height: 200px;
}

.miku-song {
    
}


/* CSS Teto */