:root{
    --c1-Primary: #30323D;
    --c2-Secondary: #4D5061;
    --c3-Accent1: #BD6B73;
    --c4-Accent2: #A0D2DB;
}

/* CSS General */

nav {

}

header {

}


/* CSS Miku */
#miku-general {

}

.miku-song {
    
}


/* CSS Teto */